@font-face {
  font-family: 'nevis';
  src: url('../fonts/nevis.eot');
  src: url('../fonts/nevis.eot?#iefix') format('embedded-opentype'),
    url('../fonts/nevis.woff') format('woff'),
    url('../fonts/nevis.ttf') format('truetype'),
    url('../fonts/nevis.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fajalla';
  src: url('../fonts/FjallaOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular')
      format('svg'),
    url('../fonts/websymbols-regular-webfont.eot') format('eot'),
    url('../fonts/websymbols-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/websymbols-regular-webfont.woff') format('woff'),
    url('../fonts/websymbols-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

a {
  color: #529125;
  text-decoration: none;
}

a:visited {
  color: #529125;
}

a:hover {
  color: #285616;
}

.text-red {
  color: #9b2422;
}

.text-blue {
  color: #0c73f2;
}

.text-orange {
  color: #d69d2a !important;
}

body {
  background-image: url('../img/paven.png');
}

#header {
  min-width: 1024px;
  width: 100%;
  height: 250px;
  margin: 0 auto;
}

#header a {
  text-decoration: none;
}

#header #logotipo {
  width: 770px;
  margin: 0 auto;
  padding: 20px;
}

#header #logotipo img {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 140px;
}
#header h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  color: #70b231;
  letter-spacing: 4px;
  margin-top: 10px;
  text-shadow: 0px 2px 1px #333333;
  transition: all 300ms;
}

#header h1:hover {
  text-shadow: 0px 2px 1px #333333, 0px 0px 4px #70b231;
}

#header h1 a {
  font-family: 'nevis';
  color: #70b231;
}

/* barra de navegacion */
#nav {
  background-color: #333333;
  box-shadow: 0px 0px 2px gray;
  color: white;
  font-family: sans-serif, Arial, Helvetica;
  font-size: 14px;
  height: 40px;
  width: 100%;
}

#nav ul {
  list-style: none;
  margin: 0 auto;
  width: 1090px;
}

#nav > ul > li {
  border-right: 1px solid gray;
  float: left;
  line-height: 40px;
  transition: all 300ms;
}

#nav > ul > li > a {
  color: white;
  display: block;
  padding: 0 20px;
  text-decoration: none;
}

#nav > ul > li:first-child > a {
  border-left: 1px solid gray;
}

/*inset indica hacia adentro*/
#nav > ul > li > a:hover {
  background-color: #70b231;
  box-shadow: 0px 0px 4px green inset;
}

/* Menu desplegable */
#nav > ul > li > ul {
  box-shadow: 0px 2px 2px gray;
  display: none;
  position: absolute;
  width: 160px;
  z-index: 1;
}
#nav > ul > li:hover > ul {
  display: block;
}

#nav > ul > li:hover > ul > li {
  background-color: #f2f1f0;
  border-bottom: 1px solid #d6d6dd;
  font-size: 13px;
  line-height: 25px;
  padding: 8px;
  text-align: left;
  transition: all 300ms;
}

#nav > ul > li:hover > ul > li a {
  color: #666666;
  text-decoration: none;
}

#nav > ul > li:hover > ul > li:hover {
  box-shadow: 0px 0px 6px #ccc inset;
}

/* contenido */
#content {
  margin: 30px auto 0;
  width: 1250px;
  margin-bottom: 100px;
  min-height: 1100px;
  position: relative;
}

#aside,
#frase {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 2px #ccc;
  clear: both;
  font-family: sans-serif, Arial, Helvetica;
  float: left;
  position: relative;
  width: 200px;
}

#frase {
  font-family: sans-serif;
  font-size: 14px;
  margin-top: 60px;
  padding: 10px;
  width: 180px;
}
.widget {
  border-bottom: 1px dashed #333333;
  display: block;
  font-size: 14px;
  margin: 5px auto;
  padding: 8px 10px;
}

.widget h3 {
  background-color: #f2f3f2;
  border: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  display: block;
  line-height: 23px;
  padding: 2px 0;
  text-align: center;
  width: 100%;
}

#aside .widget:last-child {
  margin-bottom: 20px;
}

.widget form {
  text-align: center;
}

#aside form {
  font-size: 14px;
  margin-top: 15px;
}

.btn {
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 12px;
  margin: 3px 0;
  padding: 4px 15px;
}

.btn:hover {
  box-shadow: 0 0 2px gray;
}

.btn:active {
  box-shadow: 0 0 3px gray inset;
  text-shadow: 0 0 1px #ccc;
}

.btn-success {
  color: white;
  background-color: #70b231;
}

.form-control {
  background-color: white;
  border: 1px solid #c9c9c9;
  box-shadow: 0 0 2px #ccc inset;
  color: gray;
  display: block;
  padding: 2px 1px;
  transition: all 300ms;
  width: 95%;
}

.form-control:hover {
  border: 1px solid #70b231;
  color: black;
}

#links-acceso,
#links-de-interes {
  font-size: 14px;
  margin-top: 6px;
}

#links-acceso {
  list-style-type: none;
}

#links-de-interes {
  list-style-type: square;
}

#links-de-interes li {
  margin: 8px 0 5px 20px;
}

/* secciones */
.section {
  margin-left: 40px;
}
.section-group {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0px 4px #c9c9c9;
  color: #333;
  font-size: 16px;
  margin-top: 40px;
  overflow: hidden;
  padding: 20px;
}

h2.titulo {
  border-bottom: 1px solid #ccc;
  font-family: 'fajalla';
  font-size: 24px;
  font-weight: normal;
  margin: -20px 0 5px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
.article {
  margin: 20px 10px;
}

.date {
  color: gray;
  font-size: 14px;
}
.stickers .stickerOne,
.stickers .stickerTwo {
  margin-top: -38px;
  position: absolute;
  z-index: 0;
}

.stickers .stickerTwo {
  margin-left: 860px;
}

.icon {
  font-family: icons;
  float: left;
  margin: -2px 5px 0 0;
}

#history {
  float: right;
  margin-top: 20px;
  font-family: sans-serif, Arial, Helvetica;
}
#footer {
  background-color: #333333;
  box-shadow: 0 0 2px gray;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  width: 100%;
  margin: 40px auto 0;
  padding: 10px 0;
  text-align: center;
}
