* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

%estilo-logo-letras {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
}

%estilo-logo-general {
  padding: 10px;
  margin-left: 20px;
  color: black;
  text-shadow: 1px 1px 0 #ccc;
  text-transform: uppercase;
}

#container {
  width: 75%;
  margin: 40px auto;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0 0 10px #ccc;
}

#header {
  display: grid;
  grid-template-areas: 'logo logo logo menu menu';
  align-items: center;
  height: 120px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}

.logo {
  grid-area: logo;
  @extend %estilo-logo-general;
  h1 {
    @extend %estilo-logo-letras;
  }
}

#menu {
  grid-area: menu;
  height: 100%;
  ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    height: 100%;
    justify-content: center;
    text-align: center;
    li {
      margin-right: 4px;
      a {
        color: #444;
        text-transform: uppercase;
        padding: 15px;
        transition: all 300ms;
      }
      a:hover {
        background-color: #ccc;
        color: white;
      }
    }
  }
}

#content {
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 10px;
  padding: 20px 0;
}

#aside {
  padding: 0 15px;
  h2 {
    font-size: 18px;
    font-weight: 100;
    color: #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(225, 225, 226, 0.8);
    text-align: center;
  }
  ul {
    list-style: none;
    li {
      padding-bottom: 20px;
      a {
        padding: 20px;
        background-color: #eee;
        text-align: center;
        color: #444;
        transition: all 400ms;
        text-transform: uppercase;
        width: 84%;
        display: block;
      }
      a:hover {
        background-color: #444;
        color: #eee;
      }
    }
  }
}

#projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, 278px);
  gap: 6px;
  .project {
    margin-bottom: 25px;
    margin-right: 26px;
    border: 1px solid #ccc;
    .project-info {
      a {
        font-size: 16px;
        color: black;
        transition: all 300ms;
      }
      a:hover {
        color: green;
      }
      p {
        font-size: 16px;
        color: gray;
        transition: all 300ms;
      }
    }
  }
}

#footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
  align-items: center;
  .logo-pie {
    grid-column: 1 / 4;
    @extend %estilo-logo-general;
    h1 {
      @extend %estilo-logo-letras;
    }
  }
  .info {
    grid-column: 4 / 6;
    line-height: 127px;
  }
}

@media (max-width: 920px) {
  #header {
    display: grid;
    grid-template-areas: 'logo' 'menu';
    align-items: center;
    height: 120px;
    border-bottom: 1px solid rgba(225, 225, 226, 0.8);
    padding-bottom: 12px;
  }
  .logo {
    h1 {
      text-align: center;
    }
  }
  #content {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  #aside {
    ul {
      li {
        a {
          padding: 21px;
          width: 93%;
        }
      }
    }
  }

  #projects {
    justify-content: center;
  }

  #footer {
    grid-template-columns: repeat(2, 1fr);
    .logo-pie {
      grid-column: 1 / 2;
      @extend %estilo-logo-general;
      h1 {
        @extend %estilo-logo-letras;
      }
    }
    .info {
      grid-column: 2 / 3;
      font-size: 12px;
      line-height: 17px;
    }
  }
}
