* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.padre {
  display: flex;
  flex-flow: column nowrap;
}

.header {
  background-color: black;
  display: flex;
  flex-flow: column nowrap;
  .menu {
    background-color: #2d4059;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    .logo {
      background-color: #ea5455;
      flex: 1 1 auto;
      height: 30px;
    }
    .nav {
      background-color: #ea5455;
      flex: 5 1 auto;
      height: 30px;
    }
    .social {
      background-color: #ea5455;
      flex: 1 1 auto;
      height: 30px;
    }
  }
  .texto-principal {
    background-color: #f07b3f;
    h1 {
      background-color: #ffd460;
    }
  }
}

.section {
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  .articulos {
    background-color: #4e4e6a;
    flex: 2 1 auto;
    display: flex;
    flex-flow: row wrap;
    .article {
      background-color: #1f6cb0;
      flex: 1 1 40%;
    }
    .navegacion {
      background-color: #70a3c4;
      flex: 1 1 100%;
    }
  }
  .aside {
    flex: 1 1 auto;
    background-color: #f73f52;
    .publicidad {
      background-color: #ffea85;
    }
  }
}

.footer {
  background-color: black;
  display: flex;
  justify-content: center;
  .pie {
    background-color: #e6af2e;
    width: 300px;
  }
}

@media all and(max-width: 800px) {
  .header {
    .menu {
      flex-flow: column nowrap;
      height: auto;
    }
  }
  .section {
    flex-flow: column nowrap;
    .aside {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
    }
  }
}

@media all and(max-width: 600px) {
  .section {
    .articulos {
      flex-flow: column nowrap;
    }
  }
}

@media all and(max-width: 400px) {
  .section {
    .aside {
      flex-flow: column nowrap;
    }
  }
}
