/* importacion de fuentes*/
@font-face {
  font-family: 'TrebuchetMS';
  src: url('../fonts/TrebuchetMS.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WebSymbolsRegular';
  src: url('../fonts/websymbols-regular-webfont.eot') format('eot');
  src: url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular')
      format('svg'),
    url('../fonts/websymbols-regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/websymbols-regular-webfont.woff') format('woff'),
    url('../fonts/websymbols-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* generales */
* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../img/pattern.png');
}

.wrap {
  width: 1200px;
  margin: 0px auto;
}

.gear,
.icon {
  font-family: 'WebSymbolsRegular';
}

.clear-fix {
  clear: both;
  width: 100%;
}
/* cabecera */
#header {
  background-color: black;
  color: white;
  font-family: 'BebasNeue';
  width: 100%;
  height: 70px;
}

#logo {
  background-color: #37bcf9;
  float: left;
  width: 200px;
  text-align: center;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden;
  transition: all 300ms;
  margin: 8px 20px 0 0;
}

#logo h3 {
  display: block;
  float: right;
  font-size: 40px;
  margin: 5px 65px 0 0;
  transition: all 300ms;
}

#logo:hover h3 {
  animation: deDerecha 300ms linear;
}

@keyframes deDerecha {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0%);
  }
}

#logo .gear {
  display: block;
  float: left;
  font-size: 30px;
  margin: 8px 0 0 26px;
  animation-name: rotar-gear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotar-gear {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

#logo:hover {
  border-radius: 2px;
  color: black;
  background-color: #ccc;
}

#logo:hover .gear {
  animation: deAbajo 500ms linear;
}

@keyframes deAbajo {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}

#menu {
  background-color: black;
  float: right;
  margin: 0 15% 0 0;
  height: 70px;
}
#menu ul li {
  font-size: 24px;
  display: inline-block;
  margin: 0 20px 0;
  letter-spacing: 1px;
  line-height: 70px;
}

#menu ul li a {
  color: white;
  display: block;
  text-decoration: none;
  transition: all 200ms;
}

#menu ul li a:hover {
  color: #37bcf9;
  transform: scale(1.2, 1.2);
}

/* banner */
#banner {
  background-image: url('../img/bakbaner.png');
  background-position: -200px -200px;
  border: 10px solid white;
  box-shadow: 0 0 2px gray;
  width: 98%;
  height: 100px;
  margin: 20px auto;
  animation: animacionFondo 10s linear;
  overflow: hidden;
}

@keyframes animacionFondo {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -200px -200px;
  }
}

#banner h1 {
  display: block;
  width: 850px;
  font-family: 'BebasNeue';
  color: white;
  font-size: 45px;
  letter-spacing: 2px;
  margin: 27px auto;
  font-weight: normal;
  text-shadow: 2px 2px 1px black;
  animation: animacionTexto 10s linear;
}

@keyframes animacionTexto {
  0% {
    transform: translateX(-600%) scale(5, 5);
    opacity: 1;
  }
  50% {
    transform: translateX(600%) scale(5, 5);
    opacity: 1;
  }
  75% {
    transform: translateX(-600%) scale(5, 5);
    text-shadow: none;
    color: transparent;
    opacity: 0;
  }
  100% {
    transform: translateX(0%) scale(1, 1);
    text-shadow: 2px 2px 1px black;
    color: white;
    opacity: 1;
  }
}
/* cards*/
#cards {
  width: 100%;
}

.card {
  overflow: hidden;
  margin: 40px 20px 17px 0;
  width: 215px;
  height: 305px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #dddddd;
  float: left;
  background-color: white;
  cursor: pointer;
  color: #00538c;
  font-family: TrebuchetMS;
  font-size: 14px;
  text-align: center;
  margin-right: 28px;
  transition: all 300ms;
}

.card:hover {
  background-color: black;
}

.card:last-child {
  margin-right: 0px;
}

.card .icon {
  display: block;
  width: 100%;
  height: 130px;
  font-size: 50px;
  line-height: 110px;
  text-align: center;
  margin: 0px auto;
  transition: all 300ms;
  color: black;
}

.card:hover .icon {
  font-size: 70px;
  color: #37bcf9;
  animation: mostrarIcon 300ms linear;
}

@keyframes mostrarIcon {
  from {
    transform: translateY(-200%);
  }
  to {
    transform: translateY(0%);
  }
}

.card .category {
  width: 100%;
  height: 50px;
  font-size: 21px;
  font-weight: bold;
  transition: all 300ms linear;
}

.card:hover .category {
  color: white;
  animation: animacionCategory 400ms linear;
}

@keyframes animacionCategory {
  from {
    transform: translateY(-300%);
    color: black;
  }
  to {
    transform: translateY(0%);
    color: white;
  }
}

.card .description {
  color: #0370b9;
  font-size: 13px;
  transition: all 300ms linear;
}

.card:hover .description {
  color: white;
  animation: animacionDescripcion 300ms linear;
}

@keyframes animacionDescripcion {
  from {
    transform: translateX(-300%);
    color: black;
  }
  to {
    transform: translateX(0%);
    color: white;
  }
}

/* lateral*/
#lateral {
  width: 300px;
  min-height: 1200px;
  font-family: 'TrebuchetMS';
  float: right;
}

aside h3,
#articles h2 {
  background: url('../img/pxgray.png') white;
  box-shadow: 0 1px 0 #393d3f, 1px 2px 0 #393d3f, 2px 3px 0 #393d3f,
    3px 4px 0px #393d3f;
  font-family: 'BebasNeue';
  font-weight: normal;
  letter-spacing: 2px;
}
aside h3 {
  display: block;
  width: auto;
  height: 45px;
  line-height: 49px;
  font-size: 30px;
  padding-left: 15px;
  margin: 30px 0 15px;
}

#search {
  width: 85%;
  height: 30px;
  margin: 10px auto;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 4px #ccc inset;
}

#lateral input[type='text'] {
  width: 87%;
  height: 30px;
  border: none;
  padding-left: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #ccc;
  transition: all 300ms;
}

#lateral input[type='text']:focus {
  color: #555;
}

#lateral input[type='button'] {
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-left: 1px solid #ccc;
  color: #555;
  padding-left: 6px;
  margin-left: -3px;
}
.aside-box {
  width: 85%;
  height: 240px;
  margin: 20px auto 0;
  padding-top: 2px;
  background-color: white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 3px 7px rgba(0, 0, 0, 0.3),
    0 1px 0 white inset, 0 1px white inset, 0 -3px 2px rgba(0, 0, 0, 0.3) inset;
}

#login input[type='email'],
#login input[type='password'] {
  display: block;
  margin: 20px auto 0;
  width: 83%;
  height: 32px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #ccc inset;
  border-radius: 5px;
  padding-left: 28px;
  color: gray;
}

#login input[type='email']:focus,
#login input[type='password']:focus {
  color: #555;
  box-shadow: 1px 1px 1px grey inset;
}
#login #password,
#login #user {
  display: block;
  position: absolute;
  text-align: center;
  height: 30px;
}
#login #user {
  margin: 9px 0 9px 14px;
}
#login #password {
  margin: 31px 0 0 18px;
}

#login input[type='button'] {
  text-align: center;
  width: 100px;
  height: 35px;
  margin-top: 20px;
  color: white;
  background: linear-gradient(to bottom, #3eb8e5 0%, #2ca0ca 100%);
  border: 1px solid #156785;
  border-radius: 0px;
  cursor: pointer;
  font-size: 15px;
  font-family: TrebuchetMS;
  font-weight: lighter;
  margin-left: 17px;
  transition: all 300ms;
  margin-bottom: 20px;
}

#login input[type='button']:hover {
  box-shadow: 0 0 3px gray;
}

#login a {
  display: block;
  text-decoration: none;
  margin-left: 18px;
  font-size: 14px;
  color: #555555;
}

#login a:hover {
  text-decoration: underline;
  color: #2f78bc;
}

#social {
  height: 190px;
}

#social a {
  display: block;
  font-size: 30px;
  color: black;
  text-decoration: none;
  margin: 10px 0 20px 20px;
}
#social .overlay {
  display: block;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  text-shadow: 0 0 1px #ccc;
  border: 3px solid white;
  box-shadow: 0 0 4px #ccc;
  background-color: #f4f7fe;
  position: absolute;
  padding: 5px;
  margin-left: 70px;
  margin-top: -54px;
  transform: translateX(-80%);
  opacity: 0;
  transition: all 400ms;
}

#social div:hover .overlay {
  opacity: 1;
  transform: translateX(0%);
}

/* articles */
#articles {
  float: left;
  width: 794px;
  min-height: 1200px;
}

#articles h2 {
  display: block;
  width: 100%;
  height: 75px;
  line-height: 75px;
  text-align: center;
  font-family: 'BebasNeue';
  font-size: 40px;
  margin: 30px 0 15px;
}

article {
  font-family: TrebuchetMS;
}

#articles article {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #ddd;
  margin: 0 0 31px;
  background-color: white;
  padding: 16px 10px;
}

article .data {
  float: right;
  color: white;
  background-color: #393d3f;
  padding: 8px 9px;
  border-radius: 0 0 0 6px;
  font-size: 12px;
  margin: -17px -10px 0;
}

article h4 {
  margin-bottom: 8px;
  font-size: 23px;
}

article h4 a {
  text-decoration: none;
  color: #00538c;
  font-weight: bold;
}

article h4 a:hover {
  text-decoration: underline;
}

article p {
  color: black;
  font-size: 14px;
}

.data span:first-child {
  margin-right: 12px;
}

#blog {
  height: 100px;
  margin-top: 60px;
  line-height: 100px;
  text-align: center;
  transition: all 1s;
}

#blog a {
  display: block;
  font-family: 'BebasNeue';
  font-size: 40px;
  letter-spacing: 3px;
  color: #00538c;
  text-decoration: none;
  transition: all 1s;
}

#blog:hover {
  background-color: #333;
  border: 10px solid #37bcf9;
  border-radius: 240px;
  box-shadow: 0 0 10px gray;
  animation: parpadear 10s infinite linear;
}

@keyframes parpadear {
  0% {
    border: 10px solid #37bcf9;
  }
  25% {
    border: 10px solid green;
  }
  50% {
    border: 10px solid yellow;
  }
  75% {
    border: 10px solid white;
  }
  100% {
    border: 10px solid #37bcf9;
  }
}

#blog:hover a {
  color: white;
  text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black,
    1px 4px 1px black, 1px 5px 1px black, 1px 6px 1px black;
}

#footer {
  width: 100%;
  height: 470px;
  background-color: black;
  color: white;
  overflow: hidden;
}

/* con el '>'  indicamos los que esten directemente despues de footer ojo*/
#footer .wrap > div {
  float: left;
  width: 320px;
  height: 370px;
  margin: 40px;
  color: white;
  font-family: TrebuchetMS;
}

footer a {
  text-decoration: none;
  color: #37bcf9;
  transition: all 300ms;
}

footer h5 {
  display: block;
  background: url('../img/pxgray.png'), white;
  height: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-family: 'BebasNeue';
  font-size: 40px;
  line-height: 55px;
  color: black;
  border-radius: 4px;
  margin-bottom: 15px;
}

#menu-footer ul {
  text-align: left;
  display: block;
  margin: 20px;
}

#menu-footer ul li {
  font-size: 20px;
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}

#menu-footer ul li.active {
  border-bottom: none;
}

#menu-footer ul li a {
  display: block;
  padding-bottom: 15px;
  transition: all 300ms;
}

#menu-footer ul li a:hover {
  padding-left: 40px;
  color: white;
  width: 100%;
}

#location iframe {
  width: 100%;
  height: 300px;
  margin-top: 10px;
  border-radius: 5px;
  border: 5px solid white;
  box-shadow: 0 0 5px gray;
}

#footer img {
  margin-bottom: 15px;
}

#info #browsers img {
  width: 45px;
}
